* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
 
.head{
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
  padding: 20px;
  margin-bottom: 10px;
}

#title {
  width: 100%;
  height: 80px;
  background-color: #E6FFFD;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  padding: 0%;
}


.logo {
  font-size: 2em;
letter-spacing: 2px;

}

.logo img {
  width: 60px;
  height: 60px;
}

.menu a {
  /* font-family: sans-serif; */
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  position: relative;
}

.menu a.active,
.menu a:hover {
  text-decoration: underline;
  color: grey;
}

.menu a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #90b8f6;
  transition: 0.4s linear;
}

.menu a:hover:before {
  width: 90%;
}

.register a {
  /* font-family: sans-serif; */
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background: #90b8f6;
  border-radius: 10px;
  transition: 0.4s;
}

.register a:hover {
  background: transparent;
  border: 1px solid #90b8f6;
}

.about{
  background-image: url(../img/composition-crepe-paper-clips-fa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}

.cover{
  align-items: center;
  justify-content: center;
  display: flex;
}

.about-content{
  width:900px;
  height: 700px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  margin: 25px;
  padding: 15px;
  width: 900px;
  height: 500px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(187, 191, 193, 0.6);
  border-radius: 8px;
  display: block;
  margin-bottom: 50 px;
}

.box img{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 25px;
  border-bottom: 5px #72bde3a4 solid;
}

.box p{
  font-size: larger;
}

.intro p{
  font-size: 28px;
  justify-content: center;
  align-items: center;
  margin: 5px 200px 20px;
  padding: 10px;
  border-image: linear-gradient(to bottom,teal,rgba(0,0,0,0))1 100%;
  border-left-style: solid;
  border-width: 5px;
  border-image-slice: 1;
  text-decoration: wavy;
}
.ques{
  padding: 5px 0px;
  display: flex;
  background-image: linear-gradient(to right,rgba(0, 128, 128, 0.493),rgba(0, 0, 0, 0));
  font-size: 34px;
  justify-content: center;
  align-items: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 3px;
  border-color: teal;
  border-spacing: 5px;
  margin: 45px 600px -30px;
}


.footer {
  position: relative;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 2px 80px;
  margin: 0;
  padding-top: 2px;
  color: #E6FFFD;
  text-align: center;
  background: #484872;
}