*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
    margin-left: 40%;
       margin-top: 10%;
       background-color: #4d08d859
       ;
      background-blend-mode: color-burn ;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 23px;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    color: black
  }
  
  .message {
    color: #a3a3a3;
    font-size: 24px;
    margin-top: 4px;
    text-align: center
  }
  
  .inputs {
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  
  .inputs input {
    width: 52px;
    height: 22px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
  }
  
  .inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
  }
  
  .action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
   font-size: 20px;
    align-self: end;
  }